.checkout-conntainer {
    min-height: 85vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.checkout-list {
    height: 350px;
    overflow-y: scroll;
    padding: 1rem;
    border-top: 2px dashed black;
    border-bottom: 2px dashed black;
}
.checkout-list > h2 {
    animation: rgb 8s infinite;
}

.checkout-item {
    padding-bottom: 5px;
    border-top: 1px dashed black;
    border-bottom: 1px dashed black;
}

.checkout-detail {
    color: #7D0609;
}

.checkout-message {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    margin-bottom: 2rem;
}

.checkout-message span {
    color: #EF4423;
    text-decoration: underline;
}

.back-home {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 25%;
}

label {
    margin: 10px 0 15px 10px;
    font-weight: bold;
}

input {
    margin-left: 10px;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .checkout-conntainer {
        flex-direction: column;
        gap: 4rem;
    }

    .checkout-list {
        margin-top: 30px;
        width: 70%;
    }

    form {
        width: 70%;
        margin-bottom: 30px;
    }

    .checkout-message {
        padding-inline: 1rem;
    }
}